
h1 {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.main- nav {
    padding: 20px;
}

.filter-list {
    padding: 30px;
}

#site-content {
    
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: space-between;
    justify-content: center;
    gap: 30px;
    
}